.price{
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  }
  .span-usd{
    font-size: 15px;
    color: grey;
    font-weight: 400;
  }
  .today{
    font-family: Montserrat;
    font-size: 15px;
    color: green;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .after-hours{
    font-family: Montserrat;
    font-size: 17px;
    color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .red{
    font-family: Montserrat;
    font-size: 17px;
    color: red;
  }